@(usuarioLogado: Usuario, homenagemForm: Form[Homenagem])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header">
        @title
    </th>
}


@main(usuarioLogado, Messages("homenagem.create.title"), "homenagem", Messages("homenagem.create.lead")){

	<div class="well">
	    
		@form(routes.Homenagens.save(), 'class -> "form-horizontal") {
	    
			@if(homenagemForm.hasGlobalErrors) {
				<div class="alert alert-error">
					<a class="close" data-dismiss="alert">×</a>
					@homenagemForm.globalError.message
				</div>
			}
			
			<div class="control-group">  
       
				@inputText(homenagemForm("numeroRegistro"), '_label -> Messages("homenagem.numeroRegistro.label"))
				@select(
					homenagemForm("homenageado"), 
					Homenageado.values().toList.map(v => (v.toString, v.getLabel)),
					'_label -> Messages("homenagem.homenageado.label"),
					'_error -> homenagemForm("homenageado").error.map(_.withMessage("Selecione o Homenageado."))
				)
				@select(
					homenagemForm("tipoHomenagem.id"), 
					options = options(TipoHomenagem.allOptions),
					'_default -> "--- Tipo de homenagem ---",
					'_label -> "Tipo de homenagem",
					'_error -> homenagemForm("tipoHomenagem.id").error.map(_.withMessage("Selecione o tipo de homenagem."))
				)
				@inputText(homenagemForm("descricao"), '_label -> Messages("homenagem.descricao.label"), 'class -> "input-xxlarge")
				@textarea(homenagemForm("resumo"), args = 'rows -> 3, 'cols -> 50, '_label -> Messages("homenagem.resumo.label"), 'class -> "input-xxlarge")
				@campoData(homenagemForm("dataRecebimento"), '_label -> Messages("homenagem.dataRecebimento.label"))
				@select(
					homenagemForm("pais.id"), 
					Pais.find.all.map(v => (v.id.toString, v.nome)),
					'_default -> "--- País ---",
					'_label -> "País"
				)
				@select(
					homenagemForm("estado.id"), 
					Estado.listarPorPais(homenagemForm("pais.id").value).map(v => (v.id.toString, v.nome)),
					'_default -> "--- Estado ---",
					'_label -> "Estado"
				)
				@select(
					homenagemForm("cidade.id"), 
					Cidade.listarPorEstado(homenagemForm("estado.id").value).map(v => (v.id.toString, v.nome)),
					'_default -> "--- Cidade ---",
					'_label -> "Cidade"
				)
				@inputText(homenagemForm("local"), '_label -> Messages("homenagem.local.label"), 'class -> "input-xxlarge")
				@inputText(homenagemForm("localizacao"), '_label -> Messages("homenagem.localizacao.label"), 'class -> "input-xxlarge")
				@inputText(homenagemForm("precedencia"), '_label -> Messages("homenagem.precedencia.label"), 'class -> "input-xxlarge")
				@inputText(homenagemForm("objeto"), '_label -> Messages("homenagem.objeto.label"), 'class -> "input-xxlarge")
				@inputText(homenagemForm("prateleira"), '_label -> Messages("homenagem.prateleira.label"), 'class -> "input-xxlarge")
				@inputText(homenagemForm("material"), '_label -> Messages("homenagem.material.label"), 'class -> "input-xxlarge")
				@inputText(homenagemForm("altura"), '_label -> Messages("homenagem.altura.label"))
				@inputText(homenagemForm("largura"), '_label -> Messages("homenagem.largura.label"))
				@inputText(homenagemForm("comprimento"), '_label -> Messages("homenagem.comprimento.label"))
				@inputText(homenagemForm("profundidade"), '_label -> Messages("homenagem.profundidade.label"))
				@inputText(homenagemForm("quemEntregou"), '_label -> Messages("homenagem.quemEntregou.label"), 'class -> "input-xxlarge")
				
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">@Messages("save")</button>
					<a href="@routes.Homenagens.list()" class="btn">@Messages("cancel")</a>
				</div>
			</div>
		}
	
	</div>  
	
	<script type="text/javascript">
		
		$('#pais_id').change(function() {
			var paisId = $(this).val();
			
			//Remove todos os options, menos o vazio
			$('#estado_id option[value!=""]').remove();
	    
			if(paisId != "") {
				myJsRoutes.controllers.Homenagens.listarEstados(paisId).ajax({
					success : function(result) {
						//$('#estado_id').removeAttr("disabled");
						
						$.each(result, function(index, data) {
							$('#estado_id').append(
								$('<option></option>').val(data.id).html(data.nome)
							);
						});
					}
				});
			} else {
				//$('#estado_id').attr('disabled','disabled');
			}
			
			return false;
		});
		
		$('#estado_id').change(function() {
			var estadoId = $(this).val();
			
		    //Remove todos os options, menos o vazio
			$('#cidade_id option[value!=""]').remove();
		    
			if(estadoId != "") {
				myJsRoutes.controllers.Homenagens.listarCidades(estadoId).ajax({
					success : function(result) {
						//$('#cidade_id').removeAttr("disabled");
						
						$.each(result, function(index, data) {
							$('#cidade_id').append(
								$('<option></option>').val(data.id).html(data.nome)
							);
						});
					}
				});
			}else {
				//$('#cidade_id').attr('disabled','disabled');
			}
		    
			return false;
		});
		
	</script>

}
