@(usuarioLogado: Usuario, id: Long, homenagemForm: Form[Homenagem])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header">
        @title
    </th>
}

@main(usuarioLogado, Messages("homenagem.edit.title"), "homenagem", Messages("homenagem.edit.lead")){

	
	<script type="text/javascript" src="@routes.Assets.at("js/views/homenagens.js")"></script>
	<!-- The main application script -->
	<script type="text/javascript" src="@routes.Assets.at("js/fileupload/main.js")"></script>


	<div class="well">
	
		<ul class="nav nav-tabs">
			<li class="active"><a href="#description" data-toggle="tab">Descrição</a></li>
			<li><a href="#images" data-toggle="tab">Imagens</a></li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="description">
				 @form(routes.Homenagens.update(id), 'class -> "form-horizontal") {
				 	
				 	@if(homenagemForm.hasGlobalErrors) {
						<div class="alert alert-error">
							<a class="close" data-dismiss="alert">×</a>
							@homenagemForm.globalError.message
						</div>
			        }
			        
			        <div class="control-group">  
			        
						@inputText(homenagemForm("numeroRegistro"), '_label -> Messages("homenagem.numeroRegistro.label"))
						@select(
							homenagemForm("homenageado"), 
							Homenageado.values().toList.map(v => (v.toString, v.getLabel)),
							'_label -> Messages("homenagem.homenageado.label"),
							'_error -> homenagemForm("homenageado").error.map(_.withMessage("Selecione o Homenageado."))
						)
						@select(
							homenagemForm("tipoHomenagem.id"), 
							options = options(TipoHomenagem.allOptions),
							'_default -> "--- Tipo de homenagem ---",
							'_label -> "Tipo de homenagem",
							'_error -> homenagemForm("tipoHomenagem.id").error.map(_.withMessage("Selecione o tipo de homenagem."))
						)
						@textarea(homenagemForm("descricao"), args = 'rows -> 3, 'cols -> 50, '_label -> Messages("homenagem.descricao.label"), 'class -> "input-xxlarge")
						@textarea(homenagemForm("resumo"), args = 'rows -> 3, 'cols -> 50, '_label -> Messages("homenagem.resumo.label"), 'class -> "input-xxlarge")
						@inputText(homenagemForm("quemEntregou"), '_label -> Messages("homenagem.quemEntregou.label"), 'class -> "input-xxlarge")
						@campoData(homenagemForm("dataRecebimento"), '_label -> Messages("homenagem.dataRecebimento.label"))
						@select(
							field = homenagemForm("pais.id"), 
							options = Pais.find.all.map(v => (v.id.toString, v.nome)),
							'_default -> "--- País ---",
							'_label -> "País"
						)
						@select(
							field = homenagemForm("estado.id"), 
							options = Estado.listarPorPais(homenagemForm("pais.id").value).map(v => (v.id.toString, v.nome)),
							'_default -> "--- Estado ---",
							'_label -> "Estado"
						)
						@select(
							field = homenagemForm("cidade.id"), 
							options = Cidade.listarPorEstado(homenagemForm("estado.id").value).map(v => (v.id.toString, v.nome)),
							'_default -> "--- Cidade ---",
							'_label -> "Cidade"
						)
						@inputText(homenagemForm("outraCidade"), '_label -> Messages("homenagem.outraCidade.label"), 'class -> "input-xxlarge")
						@inputText(homenagemForm("local"), '_label -> Messages("homenagem.local.label"), 'class -> "input-xxlarge")
						@inputText(homenagemForm("localizacao"), '_label -> Messages("homenagem.localizacao.label"), 'class -> "input-xxlarge")
						@inputText(homenagemForm("precedencia"), '_label -> Messages("homenagem.precedencia.label"), 'class -> "input-xxlarge")
						@inputText(homenagemForm("objeto"), '_label -> Messages("homenagem.objeto.label"), 'class -> "input-xxlarge")
						@inputText(homenagemForm("prateleira"), '_label -> Messages("homenagem.prateleira.label"), 'class -> "input-xxlarge")
						@inputText(homenagemForm("material"), '_label -> Messages("homenagem.material.label"), 'class -> "input-xxlarge")
						@inputText(homenagemForm("altura"), '_label -> Messages("homenagem.altura.label"))
						@inputText(homenagemForm("largura"), '_label -> Messages("homenagem.largura.label"))
						@inputText(homenagemForm("comprimento"), '_label -> Messages("homenagem.comprimento.label"))
						@inputText(homenagemForm("profundidade"), '_label -> Messages("homenagem.profundidade.label"))
						
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">@Messages("save")</button>
							<button type="button" data-toggle="modal" data-target="#modalDelete" class="btn btn-danger">
								<i class="icon-trash icon-white"></i> @Messages("delete")
							</button>
							<a href="@routes.Homenagens.list()" class="btn">@Messages("cancel")</a>
						</div>
					</div>
				}
		    </div>
			<div class="tab-pane" id="images">
				
				@helper.form(action = routes.Homenagens.uploadImage(id), 'id -> "fileupload", 'enctype -> "multipart/form-data") {
					<div class="row fileupload-buttonbar">
						<div class="span6">
							<span class="btn btn-success fileinput-button">
								<i class="icon-plus icon-white"></i>
								<span>Adicionar imagens...</span>
								<input type="file" name="files[]" multiple>
							</span>
							<button type="submit" class="btn btn-primary start">
								<i class="icon-upload icon-white"></i>
								<span>Iniciar envio</span>
							</button>
							<button type="reset" class="btn btn-warning cancel">
								<i class="icon-ban-circle icon-white"></i>
								<span>Cancelar envio</span>
							</button>
							<button type="button" class="btn btn-danger delete">
								<i class="icon-trash icon-white"></i>
								<span>Excluir</span>
							</button>
							<input type="checkbox" class="toggle">
						</div>
						<!-- The global progress information -->
						<div class="span5 fileupload-progress fade">
							<!-- The global progress bar -->
							<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
								<div class="bar" style="width:0%;"></div>
							</div>
							<!-- The extended global progress information -->
							<div class="progress-extended">&nbsp;</div>
						</div>
					</div>
					<!-- The loading indicator is shown during file processing -->
					<div class="fileupload-loading"></div>
					<br>
					<!-- The table listing the files available for upload/download -->
					<table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
				}
				
				<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

				<!-- modal-gallery is the modal dialog used for the image gallery -->
				<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">&times;</a>
						<h3 class="modal-title"></h3>
					</div>
					<div class="modal-body"><div class="modal-image"></div></div>
					<div class="modal-footer">
						<a class="btn modal-download" target="_blank">
							<i class="icon-download"></i>
							<span>Download</span>
						</a>
						<a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
							<i class="icon-play icon-white"></i>
							<span>Slideshow</span>
						</a>
						<a class="btn btn-info modal-prev">
							<i class="icon-arrow-left icon-white"></i>
							<span>Anterior</span>
						</a>
						<a class="btn btn-primary modal-next">
							<span>Próxima</span>
							<i class="icon-arrow-right icon-white"></i>
						</a>
					</div>
				</div>
				
				<!-- The template to display files available for upload -->
				<script id="template-upload" type="text/x-tmpl">
					{% for (var i=0, file; file=o.files[i]; i++) { %}
						<tr class="template-upload fade">
							<td>
								<span class="preview"></span>
							</td>
							<td>
								<p class="name">{%=file.name%}</p>
								{% if (file.error) { %}
									<div><span class="label label-important">Erro</span> {%=file.error%}</div>
								{% } %}
							</td>
							<td>
								<p class="size">{%=o.formatFileSize(file.size)%}</p>
								{% if (!o.files.error) { %}
									<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
								{% } %}
							</td>
							<td>
								{% if (!o.files.error && !i && !o.options.autoUpload) { %}
									<button class="btn btn-primary start">
										<i class="icon-upload icon-white"></i>
										<span>Iniciar</span>
									</button>
								{% } %}
								{% if (!i) { %}
									<button class="btn btn-warning cancel">
										<i class="icon-ban-circle icon-white"></i>
										<span>Cancelar</span>
									</button>
								{% } %}
							</td>
						</tr>
					{% } %}
				</script>
				
				<!-- The template to display files available for download -->
				<script id="template-download" type="text/x-tmpl">
					{% for (var i=0, file; file=o.files[i]; i++) { %}
						<tr class="template-download fade">
							<td>
								<span class="preview">
									{% if (file.thumbnail_url) { %}
										<a href="{%=file.url%}" title="{%=file.name%}" class="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
									{% } %}
								</span>
							</td>
							<td>
								<p class="name">
									<a href="{%=file.url%}" title="{%=file.name%}" class="{%=file.thumbnail_url?'gallery':''%}" download="{%=file.name%}">{%=file.name%}</a>
								</p>
								{% if (file.error) { %}
									<div><span class="label label-important">Erro</span> {%=file.error%}</div>
								{% } %}
							</td>
							<td>
								<span class="size">{%=o.formatFileSize(file.size)%}</span>
							</td>
							<td>
								<button class="btn btn-danger delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
									<i class="icon-trash icon-white"></i>
									<span>Excluir</span>
								</button>
								<input type="checkbox" name="delete" value="1" class="toggle">
							</td>
						</tr>
					{% } %}
				</script>
				
			</div>
		</div>
	    
	   
	    
	</div>
	
	<div id="modalDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="modalDeleteLabel">@Messages("deleteMessage.title")</h3>
		</div>
		<div class="modal-body">
			<p>@Messages("deleteMessage.text", Messages("homenagem"))</p>
		</div>
		<div class="modal-footer">
			@form(routes.Homenagens.delete(id)) {
				<button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("cancel")</button>
				<button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> @Messages("delete")</button>
			}
		</div>
	</div>

	<script>
		$(function () {
			'use strict';
			
			// Initialize the jQuery File Upload widget:
			$('#fileupload').fileupload({
				// Uncomment the following to send cross-domain cookies:
				//xhrFields: {withCredentials: true},
				url: '/homenagens/images/@id'
			});
			
			// Enable iframe cross-domain access via redirect option:
			$('#fileupload').fileupload(
				'option',
				'redirect',
				window.location.href.replace(
					/\/[^\/]*$/,
					'/assets/cors/result.html?%s'
				)
			);
			
			$('#fileupload').fileupload('option', {
				url: '/homenagens/images/@id',
					// Enable image resizing, except for Android and Opera,
					// which actually support image resizing, but fail to
					// send Blob objects via XHR requests:
					disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator && navigator.userAgent),
					imageMaxWidth: 800,
					imageMaxHeight: 600,
					acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
			});
			
		    // Show the blueimp Gallery as lightbox when clicking on image links:
		    $('#fileupload .files').on('click', '.gallery', function (event) {
		        // The :even filter removes duplicate links (thumbnail and file name links):
		        if (blueimp.Gallery($('#fileupload .gallery').filter(':even'), {
		                index: this
		            })) {
		            // Prevent the default link action on
		            // successful Gallery initialization:
		            event.preventDefault();
		        }
		    });
	
		});
	</script>
	
}
