@(usuario: Usuario, currentPage: com.avaje.ebean.Page[Homenagem], currentSortBy: String, currentOrder: String, filterForm : Form[HomenagemFilter])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    var homenageado = ""
    var numeroRegistro = ""
	var descricao = ""
	var resumo = ""
	var quemEntregou = ""
	var dataRecebimentoInicio = ""
	var dataRecebimentoFim = ""
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    if(filterForm("homenageado") != null) {
		homenageado = filterForm("homenageado").value()
		if(homenageado == null) homenageado = "MARCONI"
	}
    
    if(filterForm("numeroRegistro") != null) {
		numeroRegistro = filterForm("numeroRegistro").value()
		if(numeroRegistro == null) numeroRegistro = ""
	}
	
	if(filterForm("descricao") != null) {
		descricao = filterForm("descricao").value()
		if(descricao == null) descricao = ""
	}
	
	if(filterForm("resumo") != null) {
		resumo = filterForm("resumo").value()
		if(resumo == null) resumo = ""
	}
    
    if(filterForm("quemEntregou") != null) {
		quemEntregou = filterForm("quemEntregou").value()
		if(quemEntregou == null) quemEntregou = ""
	}
	
	if(filterForm("dataRecebimentoInicio") != null) {
		dataRecebimentoInicio = filterForm("dataRecebimentoInicio").value()
		if(dataRecebimentoInicio == null) dataRecebimentoInicio = ""
	}
	
	if(filterForm("dataRecebimentoFim") != null) {
		dataRecebimentoFim = filterForm("dataRecebimentoFim").value()
		if(dataRecebimentoFim == null) dataRecebimentoFim = ""
	}
	
    // Generate the link
    routes.Homenagens.list(newPage, sortBy, order, homenageado, numeroRegistro, descricao, resumo, quemEntregou, dataRecebimentoInicio, dataRecebimentoFim)
}

@printlink() = @{

	var sortBy = currentSortBy
    var order = currentOrder
    var homenageado = ""
    var numeroRegistro = ""
	var descricao = ""
	var resumo = ""
	var quemEntregou = ""
	var dataRecebimentoInicio = ""
	var dataRecebimentoFim = ""
    
    if(sortBy == null) sortBy = "descricao"
    if(order == null) order = "asc"
    
    if(filterForm("homenageado") != null) {
		homenageado = filterForm("homenageado").value()
		if(homenageado == null) homenageado = "MARCONI"
	}
	
    if(filterForm("numeroRegistro") != null) {
		numeroRegistro = filterForm("numeroRegistro").value()
		if(numeroRegistro == null) numeroRegistro = ""
	}
	
	if(filterForm("descricao") != null) {
		descricao = filterForm("descricao").value()
		if(descricao == null) descricao = ""
	}
	
	if(filterForm("resumo") != null) {
		resumo = filterForm("resumo").value()
		if(resumo == null) resumo = ""
	}
    
    if(filterForm("quemEntregou") != null) {
		quemEntregou = filterForm("quemEntregou").value()
		if(quemEntregou == null) quemEntregou = ""
	}
	
	if(filterForm("dataRecebimentoInicio") != null) {
		dataRecebimentoInicio = filterForm("dataRecebimentoInicio").value()
		if(dataRecebimentoInicio == null) dataRecebimentoInicio = ""
	}
	
	if(filterForm("dataRecebimentoFim") != null) {
		dataRecebimentoFim = filterForm("dataRecebimentoFim").value()
		if(dataRecebimentoFim == null) dataRecebimentoFim = ""
	}
	
    // Generate the link
    routes.Homenagens.print(sortBy, order, homenageado, numeroRegistro, descricao, resumo, quemEntregou, dataRecebimentoInicio, dataRecebimentoFim)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main(usuario, Messages("homenagem.list.title"), "homenagem", Messages("homenagem.list.lead", currentPage.getTotalRowCount)) {
    
    
    <div class="accordion" id="filterAccordion">
    	<div class="accordion-group">
    		<div class="accordion-heading">
    			<a class="accordion-toggle" data-toggle="collapse" data-parent="#filterAccordion" href="#collapseFilter">@Messages("filter")</a>
    		</div>
    		<div id="collapseFilter" class="accordion-body collapse in">
    			<div class="accordion-inner well">
					<form action="@link(0, "descricao")" method="GET" class="form-horizontal">
						@select(
							filterForm("homenageado"), 
							Homenageado.values().toList.map(v => (v.toString, v.getLabel)),
							'_label -> Messages("homenagem.homenageado.label"),
							'_error -> filterForm("homenageado").error.map(_.withMessage("Selecione o Homenageado."))
						)
	            
	            		@inputText(filterForm("numeroRegistro"),
							'_label -> Messages("homenagem.numeroRegistro.label"),
							'class -> "input-xlarge")
							
						@inputText(filterForm("descricao"),
							'_label -> Messages("homenagem.descricao.label"),
							'class -> "input-xxlarge")
						
						@inputText(filterForm("resumo"),
							'_label -> Messages("homenagem.resumo.label"),
							'class -> "input-xxlarge")
							
						@inputText(filterForm("quemEntregou"),
							'_label -> Messages("homenagem.quemEntregou.label"),
							'class -> "input-xxlarge")
							
						@dateRange(filterForm("dataRecebimentoInicio"), filterForm("dataRecebimentoFim"), '_label -> Messages("homenagem.dataRecebimento.label"))
						
						<div class="form-actions">
							<button type="submit" id="searchsubmit" class="btn btn-primary"><i class="icon-filter icon-white"></i> @Messages("doFilter")</button>
						</div>
			        </form>
				</div>
			</div>
		</div>
	</div>
    
    <div class="btn-toolbar">
    	<a class="btn btn-success" href="@routes.Homenagens.create()"> <i class="icon-plus-sign icon-white"></i> @Messages("new")</a>
    	<a class="btn btn-info" href="@printlink()" target="_blank"> <i class="icon-print icon-white"></i> @Messages("print")</a>
    	
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>@Messages("nothingToShow")</em>
        </div>
        
    } else {
        
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    @header("numeroRegistro", Messages("homenagem.numeroRegistro.label"))
                    @header("descricao", Messages("homenagem.descricao.label"))
                    @header("cidade", Messages("homenagem.cidade.label"))
                </tr>
            </thead>
            <tbody>

                @for(homenagem <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.Homenagens.edit(homenagem.id)">@homenagem.numeroRegistro</a></td>
                        <td><a href="@routes.Homenagens.edit(homenagem.id)">@homenagem.descricao</a></td>
                        <td><a href="@routes.Homenagens.edit(homenagem.id)">@homenagem.getCidadeCompleto()</a></td>
                    </tr>
                }

            </tbody>
        </table>

		<div id="pagination" class="pagination">
			<ul>
				@if(currentPage.hasPrev) {
					<li class="prev">
						<a href="@link(currentPage.getPageIndex - 1, null)">&larr; @Messages("previous.plural")</a>
					</li>
				} else {
					<li class="prev disabled">
						<a>&larr; @Messages("previous.plural")</a>
					</li>
				}
				<li class="current">
					<a>@Messages("pagination.showing", currentPage.getDisplayXtoYofZ(" "+Messages("pagination.to")+" ", " "+Messages("pagination.of")+" "))</a>
				</li>
				@if(currentPage.hasNext) {
					<li class="next">
						<a href="@link(currentPage.getPageIndex + 1, null)">@Messages("next.plural") &rarr;</a>
					</li>
				} else {
					<li class="next disabled">
						<a>@Messages("next.plural") &rarr;</a>
					</li>
				}
			</ul>
		</div>
    }
        
}