@(usuario: Usuario, currentPage: com.avaje.ebean.Page[Homenagem], currentSortBy: String, currentOrder: String, filterForm : Form[HomenagemFilter])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Homenagens.list(newPage, sortBy, order)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main(usuario, Messages("homenagem.list.title"), "homenagem", Messages("homenagem.list.lead", currentPage.getTotalRowCount)) {
    
    
    <div class="accordion" id="filterAccordion">
    	<div class="accordion-group">
    		<div class="accordion-heading">
    			<a class="accordion-toggle" data-toggle="collapse" data-parent="#filterAccordion" href="#collapseFilter">@Messages("filter")</a>
    		</div>
    		<div id="collapseFilter" class="accordion-body collapse in">
    			<div class="accordion-inner well">
					<form action="@link(0, "descricao")" method="GET" class="form-horizontal">
						@inputText(filterForm("numeroRegistro"),
							'_label -> Messages("homenagem.numeroRegistro.label"))
							
						@inputText(filterForm("descricao"),
							'_label -> Messages("homenagem.descricao.label"))
						
						@inputText(filterForm("resumo"),
							'_label -> Messages("homenagem.resumo.label"))
							
						@inputText(filterForm("quemEntregou"),
							'_label -> Messages("homenagem.quemEntregou.label"))
							
						@dateRange(filterForm("dataRecebimentoInicio"), filterForm("dataRecebimentoFim"), '_label -> Messages("homenagem.dataRecebimento.label"))
						
						<div class="form-actions">
							<button type="submit" id="searchsubmit" class="btn btn-primary"><i class="icon-filter icon-white"></i> @Messages("doFilter")</button>
						</div>
			        </form>
				</div>
			</div>
		</div>
	</div>
    
    <div class="btn-toolbar">
    	<a class="btn btn-success" id="add" href="@routes.Homenagens.create()"> <i class="icon-plus-sign icon-white"></i> @Messages("new")</a>
    	<a class="btn btn-info" id="print" href="@routes.Homenagens.create()"> <i class="icon-print icon-white"></i> @Messages("print")</a>
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>@Messages("nothingToShow")</em>
        </div>
        
    } else {
        
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    @header("numeroRegistro", Messages("homenagem.numeroRegistro.label"))
                    @header("descricao", Messages("homenagem.descricao.label"))
                    @header("cidade", Messages("homenagem.cidade.label"))
                </tr>
            </thead>
            <tbody>

                @for(homenagem <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.Homenagens.edit(homenagem.id)">@homenagem.numeroRegistro</a></td>
                        <td><a href="@routes.Homenagens.edit(homenagem.id)">@homenagem.descricao</a></td>
                        <td><a href="@routes.Homenagens.edit(homenagem.id)">@if(homenagem.cidade != null){@homenagem.cidade.nome}</a></td>
                    </tr>
                }

            </tbody>
        </table>

		<div id="pagination" class="pagination">
			<ul>
				@if(currentPage.hasPrev) {
					<li class="prev">
						<a href="@link(currentPage.getPageIndex - 1, null)">&larr; @Messages("previous.plural")</a>
					</li>
				} else {
					<li class="prev disabled">
						<a>&larr; @Messages("previous.plural")</a>
					</li>
				}
				<li class="current">
					<a>@Messages("pagination.showing", currentPage.getDisplayXtoYofZ(" "+Messages("pagination.to")+" ", " "+Messages("pagination.of")+" "))</a>
				</li>
				@if(currentPage.hasNext) {
					<li class="next">
						<a href="@link(currentPage.getPageIndex + 1, null)">@Messages("next.plural") &rarr;</a>
					</li>
				} else {
					<li class="next disabled">
						<a>@Messages("next.plural") &rarr;</a>
					</li>
				}
			</ul>
		</div>
    }
        
}