@(contaForm: Form[Conta], usuario: Usuario)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(usuario){
    
    <h1>Add a computer</h1>
    
    @form(routes.Contas.salvar()) {
        
        <fieldset>
        
            @inputText(contaForm("nome"), '_label -> "Nome")
            @inputText(contaForm("saldo"), '_label -> "Saldo")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Criar Conta" class="btn primary">  
            <a href="@routes.Contas.index()" class="btn">Cancelar</a> 
        </div>
        
    }
    
}