@(usuarioForm: Form[Usuario], usuario: Usuario)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(usuario){
    
    <h1>Usuários</h1>
    
    @helper.form(routes.Usuarios.salvar()) {
        
        <fieldset>
        
        	@if(usuarioForm.hasGlobalErrors) {
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					@usuarioForm.globalError.message
				</div>
			} @if(flash.contains("success")) {
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					@flash.get("success")
				</div>
			} 
        
            @inputText(usuarioForm("nome"), '_label -> "Nome")
            @inputText(usuarioForm("email"), '_label -> "Email")
            @inputText(usuarioForm("senha"), '_label -> "Senha")
            @inputText(usuarioForm("confirmacaoSenha"), '_label -> "Confirmação da senha")
            @select(
                usuarioForm("tipoUsuario"), 
                options = options(TipoUsuario.values().toList.map(_.toString)),
                '_default -> "--- Tipo de usuário ---",
                '_label -> "Tipo de usuário",
                '_error -> usuarioForm("tipoUsuario").error.map(_.withMessage("Selecione o tipo de usuário."))
            )

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Criar" class="btn primary">  
            <a href="" class="btn">Cancelar</a> 
        </div>
        
    }
    
}