@(usuarioLogado: Usuario, id: Long, usuarioForm: Form[Usuario])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }


@main(usuarioLogado, Messages("usuario.edit.title"), "usuario", Messages("usuario.edit.lead")) {

	<div class="well">
		@form(routes.Usuarios.update(id), 'class -> "form-horizontal") {
		
			@if(usuarioForm.hasGlobalErrors) { 
	            <div class="alert alert-error">
	            <a class="close" data-dismiss="alert">×</a>
	                @usuarioForm.globalError.message
	            </div>
	        }
			
			@inputText(usuarioForm("nome"), '_label -> "Nome")
            @inputText(usuarioForm("email"), '_label -> "Email", 'autocomplete -> "off")
            @inputPassword(usuarioForm("senha"), '_label -> "Senha", 'autocomplete -> "off")
            @inputPassword(usuarioForm("confirmacaoSenha"), '_label -> "Confirmação da senha")
            @select(
                usuarioForm("tipoUsuario"), 
                TipoUsuario.values().toList.map(v => (v.toString, v.getLabel)),
                '_default -> "--- Tipo de usuário ---",
                '_label -> "Tipo de usuário",
                '_error -> usuarioForm("tipoUsuario").error.map(_.withMessage("Selecione o tipo de usuário."))
            )
		
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">@Messages("save")</button>
				<button type="button" data-toggle="modal" data-target="#modalDelete" class="btn btn-danger">
		        	<i class="icon-trash icon-white"></i> @Messages("delete")
		        </button>
				<a href="@routes.Usuarios.list()" class="btn">@Messages("cancel")</a>
			</div>
			
		}
		
		</div>
				
		<div id="modalDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="modalDeleteLabel">@Messages("deleteMessage.title")</h3>
			</div>
			<div class="modal-body">
				<p>@Messages("deleteMessage.text", Messages("usuario"))</p>
			</div>
			<div class="modal-footer">
				@form(routes.Usuarios.delete(id)) {
					<button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("cancel")</button>
					<button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> @Messages("delete")</button>
				}
			</div>
		</div>
		
	
}
