html, body {
	background: #ffffff;
}


a:hover {
	text-decoration: none;
}

input, textarea, select, .uneditable-input {
/* 	height: 28px !important; */
}


#logo {
	color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

#logo .my {
	color: #5DAAD5;
}

#logo .finance {
	color: #FFFFFF;
}

.user {
    position: absolute;
    right: 10px;
    top: 5px;
}

.user dt {
    color: #FFFFFF;
    font-size: 12px;
}

.user dt span {
    font-size: 11px;
    opacity: 0.5;
}

.user dd {
	position: absolute;
    right: 0;
}

