@(usuario: Usuario, parentId: Long, id: Long, tipoHomenagemForm: Form[TipoHomenagem])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main(usuario, Messages("tipoHomenagem.edit.title"), "tipoHomenagem", Messages("tipoHomenagem.edit.lead")) {

	<div class="well">
		@form(routes.TipoHomenagens.updateSub(parentId, id), 'class -> "form-horizontal") {
			
			@inputText(tipoHomenagemForm("name"),
				'_label -> Messages("tipoHomenagem.name.label"))
				
			@defining(tipoHomenagemForm("parent.id")) { parentIdField =>
				<input type="hidden" name="@parentIdField.name" id="@parentIdField.id" value="@parentIdField.value">
			}
			@inputText(tipoHomenagemForm("parent.name"),
				'_label -> "Pertencente ao", 'readonly -> true)
		
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">@Messages("save")</button>
				<button type="button" data-toggle="modal" data-target="#modalDelete" class="btn btn-danger">
		        	<i class="icon-trash icon-white"></i> @Messages("delete")
		        </button>
				<a href="@routes.TipoHomenagens.edit(parentId)" class="btn">@Messages("back")</a>
					
			</div>
			
		}
		
	</div>
	
	<div id="modalDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="modalDeleteLabel">@Messages("deleteMessage.title")</h3>
		</div>
		<div class="modal-body">
			<p>@Messages("deleteMessage.text", Messages("tipoHomenagem"))</p>
		</div>
		<div class="modal-footer">
			@form(routes.TipoHomenagens.delete(id)) {
				<button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("cancel")</button>
				<button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> @Messages("delete")</button>
			}
		</div>
	</div>

}
