@(usuario: Usuario, id: Long, tipoHomenagemForm: Form[TipoHomenagem], subs:List[TipoHomenagem])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }


@main(usuario, Messages("tipoHomenagem.edit.title"), "tipoHomenagem", Messages("tipoHomenagem.edit.lead")) {

	<div class="well">
		@form(routes.TipoHomenagens.update(id), 'class -> "form-horizontal") {
		
			@if(tipoHomenagemForm.hasGlobalErrors) {
				<div class="alert alert-error">
					<a class="close" data-dismiss="alert">×</a>
					@tipoHomenagemForm.globalError.message
				</div>
			}
			
			@inputText(tipoHomenagemForm("name"),
				'_label -> Messages("tipoHomenagem.name.label"))
		
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">@Messages("save")</button>
				<button type="button" data-toggle="modal" data-target="#modalDelete" class="btn btn-danger">
		        	<i class="icon-trash icon-white"></i> @Messages("delete")
		        </button>
				<a href="@routes.TipoHomenagens.list()" class="btn">@Messages("cancel")</a>
					
			</div>
			
		}
    	
	</div>
	
	<div id="modalDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="modalDeleteLabel">@Messages("deleteMessage.title")</h3>
		</div>
		<div class="modal-body">
			<p>@Messages("deleteMessage.text", Messages("tipoHomenagem"))</p>
		</div>
		<div class="modal-footer">
			@form(routes.TipoHomenagens.delete(id)) {
				<button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("cancel")</button>
				<button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> @Messages("delete")</button>
			}
		</div>
	</div>
	
	<a class="btn btn-success" href="@routes.TipoHomenagens.createSub(id)">Novo subtipo</a>
    	<table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                	<th class="header">
				        @Messages("tipoHomenagem.name.label")
				    </th>
                </tr>
            </thead>
            <tbody>

                @for(subtipoHomenagem <- subs) {
                    <tr>
                        <td><a href="@routes.TipoHomenagens.editSub(subtipoHomenagem.id)">@subtipoHomenagem.name</a></td>
                    </tr>
                }

            </tbody>
        </table>

}
