@(usuario: Usuario, currentPage: com.avaje.ebean.Page[TipoHomenagem], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.TipoHomenagens.list(newPage, sortBy, order, currentFilter)
    
}

@subtype(level:Integer, tipoHomenagem:TipoHomenagem) = {
	@for(tipoHomenagemSub <- TipoHomenagem.getSubs(tipoHomenagem)) {
		<tr>
			<td> @for(i <- 0 to level) {&hellip; }<a href="@routes.TipoHomenagens.editSub(tipoHomenagemSub.id)">@tipoHomenagemSub.name</a></td>
		</tr>
		@subtype(level+1, tipoHomenagemSub)
	}
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main(usuario, Messages("tipoHomenagem.list.title"), "tipoHomenagem", Messages("tipoHomenagem.list.lead", currentPage.getTotalRowCount)) {
    
    <div class="accordion" id="filterAccordion">
    	<div class="accordion-group">
    		<div class="accordion-heading">
    			<a class="accordion-toggle" data-toggle="collapse" data-parent="#filterAccordion" href="#collapseFilter">@Messages("filter")</a>
    		</div>
    		<div id="collapseFilter" class="accordion-body collapse in">
    			<div class="accordion-inner well">
					<form action="@link(0, "name")" method="GET" class="form-horizontal">
			            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="@Messages("filterBy", Messages("tipoHomenagem.name.label"))">
			            <button type="submit" id="searchsubmit" class="btn btn-primary"><i class="icon-filter icon-white"></i> @Messages("doFilter")</button>
			        </form>
				</div>
			</div>
		</div>
	</div>
    
    <div class="btn-toolbar">
    	<a class="btn btn-success" id="add" href="@routes.TipoHomenagens.create()"> <i class="icon-plus-sign icon-white"></i> @Messages("new")</a>
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>@Messages("nothingToShow")</em>
        </div>
        
    } else {
        
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    @header("name", Messages("tipoHomenagem.name.label"))
                </tr>
            </thead>
            <tbody>

                @for(tipoHomenagem <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.TipoHomenagens.edit(tipoHomenagem.id)">@tipoHomenagem.name</a></td>
                    </tr>
                    
                    @subtype(0, tipoHomenagem)
                }

            </tbody>
        </table>
        
        <div id="pagination" class="pagination">
			<ul>
				@if(currentPage.hasPrev) {
					<li class="prev">
						<a href="@link(currentPage.getPageIndex - 1, null)">&larr; @Messages("previous.plural")</a>
					</li>
				} else {
					<li class="prev disabled">
						<a>&larr; @Messages("previous.plural")</a>
					</li>
				}
				<li class="current">
					<a>@Messages("pagination.showing", currentPage.getDisplayXtoYofZ(" "+Messages("pagination.to")+" ", " "+Messages("pagination.of")+" "))</a>
				</li>
				@if(currentPage.hasNext) {
					<li class="next">
						<a href="@link(currentPage.getPageIndex + 1, null)">@Messages("next.plural") &rarr;</a>
					</li>
				} else {
					<li class="next disabled">
						<a>@Messages("next.plural") &rarr;</a>
					</li>
				}
			</ul>
		</div>
    }
        
}

            