@(title: String = "", description: String = "", author: String = "")

<meta charset="utf-8"/>
<title>@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="@description"/>
<meta name="author" content="@author"/>

<!-- The styles -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("css/style.css")"/>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-responsive.min.css")"/>
<!-- Bootstrap CSS fixes for IE6 -->
<!--[if lt IE 7]>
	<link rel="stylesheet" href="@routes.Assets.at("css/bootstrap-ie6.min.css")">
<![endif]-->

<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/datepicker.css")"/>

<!-- Bootstrap Image Gallery styles -->
<link rel="stylesheet" href="@routes.Assets.at("css/blueimp-gallery.min.css")"/>
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="@routes.Assets.at("css/jquery.fileupload-ui.css")"/>
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript>
	<link rel="stylesheet" href="@routes.Assets.at("css/jquery.fileupload-ui-noscript.css")"/>
</noscript>

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
	<script src="@routes.Assets.at("js/html5shiv/html5shiv.js")"></script>
<![endif]-->

<!-- The fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="@routes.Assets.at("img/apple-touch-icon-144-precomposed.png")"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.at("img/apple-touch-icon-114-precomposed.png")"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.at("img/apple-touch-icon-72-precomposed.png")"/>
<link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("img/apple-touch-icon-57-precomposed.png")"/>
<link rel="shortcut icon" href="@routes.Assets.at("img/favicon.png")"/>

<script type="text/javascript" src="@routes.Assets.at("js/jquery-1.10.1.min.js")"></script>

<script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>

