@(form: Form[Login])

<html>
<head>@views.html.head()
</head>

<body>
	<div class="header">
		<header class="topbar">
			<h1 class="fill">
				<a href="@routes.Usuarios.index" id="logo"> <span class="my">Homenagens</span>
					<!-- <span class="finance">Finance</span> -->
				</a>
			</h1>
		</header>
	</div>
	<div class="login">
		<div class="container">
			<div class="content">
				<div class="login-form">

					@helper.form(routes.Application.autenticar) {

					<fieldset>

						<h2>Entrar</h2>

						@if(form.hasGlobalErrors) {
						<div class="alert alert-error">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							@form.globalError.message
						</div>
						} @if(flash.contains("success")) {
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							@flash.get("success")
						</div>
						} <input type="email" name="email" placeholder="Email"
							value="@form("email").value"> <input type="password"
							name="senha" placeholder="Senha">


						<button class="btn btn-primary" type="submit">Login</button>
					</fieldset>
					}

				</div>
			</div>
		</div>
		<!-- /container -->
	</div>

	<!-- SCRIPTS -->
	<script type="text/javascript" src="@routes.Assets.at("js/jquery-1.9.0.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/bootstrap.js")"></script>


</body>
</html>