@(usuario: Usuario, title: String, nav: String = "", lead: String = "")(content: Html)

<!DOCTYPE html>

<html>
<head>
	<title>@title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-responsive.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
	<script src="@routes.Assets.at("js/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
				</button>
				<a class="brand" href="@routes.Usuarios.index()">Minhas Homenagens</a>
				
				<div class="nav-collapse in collapse" style="height: auto;">
					<ul class="nav">
						<li class="@(" active".when(nav=="homenagens"))">
							<a href="@routes.Homenagens.list()">Homenagens</a>
						</li>
						<li class="@(" active".when(nav=="tipoHomenagem"))">
							<a href="@routes.TipoHomenagens.list()">Tipos de Homenagem</a>
						</li>
						<li class="@(" active".when(nav=="usuarios"))">
							<a href="@routes.Usuarios.index()">Usuários</a>
						</li>
					</ul>
						
					@helper.form(routes.Application.logout, 'class -> "navbar-form pull-right") {
						<div class="userHeader">
							<p class="navbar-text pull-left" style="margin-right: 10px;">
								@usuario.nome <span>(@usuario.email)</span>
							</p>
							<button class="btn btn-small btn-primary pull-right" type="submit">Sair</button>
						</div>
					}
					
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">
		<div class="page-header">
			<h2>@title</h2>
			@if(lead != null && !lead.isEmpty) {
				<p class="lead">@lead</p>
			}
			
			@if(flash.containsKey("success")) {
        		<div class="alert alert-success">
		        	<button type="button" class="close" data-dismiss="alert">&times;</button>
		            <strong>Sucesso!</strong> @flash.get("success")
		        </div>
		    }
		    @if(flash.containsKey("error")) {
        		<div class="alert alert-error">
		        	<button type="button" class="close" data-dismiss="alert">&times;</button>
		            <strong>Erro!</strong> @flash.get("error")
		        </div>
		    }
		</div>

		<div class="row">
			<div class="span12">@content</div>
		</div>
	</div>

	<footer class="footer">
	</footer>


	
	<script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
</body>
</html>
