@(usuario: Usuario)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        @views.html.head()
    </head>

    <body>
    	
    	<div class="header">
	    	<header class="topbar">
	    		<h1 class="fill">
	            	<a href="@routes.Usuarios.index" id="logo">
	            		<span class="my">My</span>
	            		<span class="finance">Finance</span>
	            	</a>
	            </h1>
	            <dl class="user">
	                <dt>@usuario.nome <span>(@usuario.email)</span></dt>
	                <dd>
	                    @helper.form(routes.Application.logout) {
	                    	<button class="btn btn-mini btn-primary" type="submit">Sair</button>
	                    }
	                </dd>
	            </dl>
	        </header>
        </div>
    	
    	<section id="main">
        	@content
        </section>
        
        <!-- SCRIPTS --> 
        <script type="text/javascript" src="@routes.Assets.at("js/jquery-1.9.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/bootstrap.js")"></script>
        
    </body>
</html>
